.content
  .page-header
    %h1 Sign in
  = simple_form_for :session, url: sessions_path, :html => { :class => 'form-horizontal' } do |f|
    .row-fluid
      .span6.offset3
        = field_set_tag do
          = f.input :email
          = f.input :password
        .form-actions
          = f.button :submit, :value => "Sign in", :class => 'btn-primary'
          %p
            New User?
            =link_to sign_up_path do
              <i class='fa fa-sign-in'></i>
              = t :Sign_up_now

:javascript
  document.getElementById('session_email').focus();