:sass
  body
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2)
    background-repeat: repeat-x
    // border: 1px solid #d4d4d4
    .container
      max-width: 90%
      margin-left: auto
      margin-right: auto
      text-align: center
    .content
      min-height: 30vh
      margin-bottom: 1%
      margin-left: auto
      margin-right: auto
      .page-header
        padding-bottom: 9px
        margin: 20px 0 30px
        border-bottom: 1px solid #eeeeee
    .footer-copyrights
      text-align: center
      margin-top: 2em
      background-color: #e3e3e3
      border: 1px 0 0 0 solid #e3e3e3
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
      p
        padding: 2px 0 2px 0
        margin-left: auto
        margin-right: auto