= render 'user_mailer/mailer_css'
.container.content
  .page-header
    %h1 Hello #{@user.first_name},
  %h3 Welcome to Crowdfunding App !!
  %p We are verry happy to count you in our team!
.footer-copyrights
  .container
    &copy; #{Settings.application_name} #{DateTime.now.year}
    = link_to "ismo1", "mailto:mousa.ismo1@gmail.com?subject=Prise%20de%20contact!!&body=Hello ismo1,"