= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .row-fluid
    .span8.offset1
      = render 'shared/error_messages', object: f.object
  .row-fluid
    .span8.offset1
      = field_set_tag do
        = f.input :first_name
        = f.input :last_name
        = f.input :email
        = f.input :password
        = f.input :password_confirmation, label: 'Confirmation'
      .form-actions
        = f.button :submit, :class => 'btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
    .span2
      .thumbnail
        .caption
          .picture-profile
            = link_to "http://gravatar.com/emails" do
              <i class="fa fa-pencil fa-fw"></i>
            = @user.email.nil? ? image_tag("frontend/profile-default.png") : gravatar_for(@user, size: 200)
          %h3 Picture
          .form-actions
            = link_to t('.change', :default => t("helpers.links.change")), "http://gravatar.com/emails", :class => 'btn'


:javascript
  document.getElementById('user_first_name').focus();