- model_class = User
.page-header
  %h1= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize, :default => "Update your profile"
= render :partial => 'form'