- model_class = User
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped.table-hover
  %thead
    %tr
      %th=  model_class.human_attribute_name(:id)
      %th First & Last Name
      %th Project(s)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - cpt = 0
    - @users.each do |user|
      %tr
        %td= "#{cpt+=1}"
        %td
          = link_to gravatar_for(user, size: 52), user_path(user), :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => user.pretty_name
          = link_to user.pretty_name, user_path(user), :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => user.pretty_name
        %td
          - if user.projects.any?
            = link_to user_projects_path(user), :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => 'View projects' do
              <i class='fa fa-eye'></i>
        %td
          - if current_user.admin? or current_user?(user)
            = link_to edit_user_path(user),  :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => t('.edit', :default => t("helpers.links.edit")) do
              <i class="fa fa-pencil fa-fw"></i>
          - if current_user.admin? && !current_user?(user)
            |
            = link_to user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },  :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => t('.destroy', :default => t("helpers.links.destroy")) do
              <i class="fa fa-trash-o fa-fw"></i>
    = will_paginate @users
= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'