- model_class = User
- model_class2 = Project
.row-fluid
  .span3
    %section
      %h3
        = gravatar_for @user
        = @user.first_name
  .span9
    .page-header
    <!-- Nav tabs -->
    %ul.nav.nav-tabs
      %li.active= link_to "Projects (#{@user.projects.count})", "#projects", "data-toggle" => "tab"
      %li= link_to "Feed", "#feed", "data-toggle" => "tab"
      %li= link_to "Statistics ", "#statistics ", "data-toggle" => "tab"

    <!-- Tab panes -->
    .tab-content
      .tab-pane.active#projects
        .caption
        - if @user.projects.any?
          %ol.projects
            = render @projects
          = will_paginate @projects
      .tab-pane#feed
        Feed
      .tab-pane#statistics
        Statistics