- model_class = User
.content
  .page-header
    %h1= t '.Sign_up', :default => [:'helpers.titles.sign_up', 'Sign up %{model}'], :model => model_class.model_name.human.titleize
  = render :partial => 'form'
