// Variables

$content-margin: auto
$lightGray: #999
$striped: #f8f8f8
$grayMediumLight: #eaeaea
$redMenuColor: rgb(233, 49, 98)

@mixin box_sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

// ////////////////////

html
  overflow-y: scroll
body
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)
  border: 1px solid #d4d4d4
  .container-top-navbar
    max-width: 1100px
    margin-left: auto
    margin-right: auto
  .navbar-inverse
    .nav
      .dropdown-menu-item
        li
          .active
            color: #333333
      li
        .active
          background-color: transparent
          padding-bottom: 4px
          border-bottom: double $redMenuColor 2px
          color: #ffffff
    .navbar-nav
      li
        a:hover
          color: #ffffff
  .container
    max-width: 960px
    margin-left: auto
    margin-right: auto
  .main-content
    padding-top: 15px
  .content
    min-height: 60vh
    margin-bottom: 1%
    margin-left: $content-margin
    margin-right: $content-margin

  .navbar-inverse
    background-color: #140B0B
    border-top: 1px solid #f2f2f2

footer
  // padding-top: 2px
  margin: 0
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2)
  .container-fluid
    padding-left: 0
    padding-right: 0
  .footer-copyrights
    text-align: center
    margin-top: 2px
    background-color: #e3e3e3
    border: 1px 0 0 0 solid #e3e3e3
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
    @include box_sizing
    p
      padding: 2px 0 2px 0
      margin-left: auto
      margin-right: auto

  .footer-parteners
    border-top: 1px solid #d4d4d4
    border-bottom: 2px solid #1b1b1b
    background-color: #f9f9f9
    text-align: center
    h4
      display: inline-block
      width: auto
    ul
      display: inline-block
      min-width: 80%
      width: auto
      text-align: center
      vertical-align: middle
    .container
      .row-fluid
        text-align: center
    .footer-parteners-content
      text-align: center
      margin-left: auto
      margin-right: auto
      h6,
      ul
        display: inline-block
        li
          display: inline-block
.center
  text-align: center
  h1
    margin-bottom: 10px
  .btn
    a
      color: #fff
section
  overflow: auto
textarea
  resize: vertical-align

/* typography */

h1, h2, h3, h4, h5, h6
  line-height: 1
.hero-unit
  h1
    font-size: 2.8em
    letter-spacing: -2px
    margin-bottom: 25px
    text-align: center
h1
  font-size: 2.8em
  letter-spacing: -2px
  margin-bottom: 25px
  text-align: center

h2
  font-size: 1.3em
  letter-spacing: -1px
  margin-bottom: 30px
  text-align: center
  font-weight: normal
  color: $lightGray

p
  font-size: 1.1em
  line-height: 1.7em

/* header */

.navbar-inverse
  .brand
    text-transform: uppercase
    letter-spacing: -1px
    font-weight: bold
    line-height: 1
    padding-top: 9px
    margin-right: 10px
    font-size: 1.5em
    color: #fff

/* footer */

footer
  margin-top: 3em
  padding-top: 2px
  border-top: 1px solid $grayMediumLight
  color: $lightGray
  nav
    padding: 10px 20px
    display: inline-block
    width: auto
  .before-footer-nav
    padding: 10px 20px
    display: inline-block
    width: 30%
    text-align: center
.footer-copyrights
  color: #333333

footer a
  color: #555

footer a:hover
  color: #222

footer ul
  list-style: none

footer ul li
  display: inline-block
  margin-left: 10px

.project-row
  margin: 0 0 10px
  padding-right: 1em
  background-color: #f5f5f5
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.15)
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  pre.prettyprint
    margin-bottom: 10px

/* forms */
fieldset
  margin-left: auto
  margin-right: auto
  padding-top: 1em
  background-color: #f5f5f5
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.15)
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  padding-right: 2em

input,
textarea,
select,
.uneditable-input
  border: 1px solid #bbb
  margin-bottom: 15px
  width: 95%
  @include box_sizing

input
  height: auto !important

.form-horizontal .form-actions
  padding-left: 0
  text-align: center
  p
    padding-top: 1em

/* miscellaneous */

.debug_dump
  clear: both
  margin-right: auto
  margin-left: auto
  width: 90%
  margin-top: 30px
  @include box_sizing

/* .dropdown-menu */
.dropdown-menu
  min-width: 120px

.thumbnail
  a
    .fa-pencil
      position: absolute
      padding: 5px

.fa-pencil,
.fa-eye,
.fa-trash-o
  font-size: 1.1em
  &:hover
    color: #333333

.fa-trash-o
  color: $redMenuColor
  text-shadow: 1px 1px 1px #ccc

.table
  td
    vertical-align: middle
    .gravatar
      margin-right: 15px

.navbar
  .nav
    li
      a
        padding-bottom: 1px

/* microposts */

.projects
  list-style: none
  margin: 10px 0 0 0
  li
    padding: 10px 0
    border-top: 1px solid #e8e8e8

.description
  display: block

.timestamp
  color: $lightGray

.projects
  li:nth-child(even)
    background: $striped
