%li
  - "##{feed_item.id}"
    = link_to gravatar_for(feed_item.user), feed_item.user
    .user
      = link_to feed_item.user.first_name, feed_item.user
    .title= feed_item.title
    .timestamp
      = "Posted #{time_ago_in_words(feed_item.created_at)}"