.content
  .center.hero-unit
    %h1= Settings.page_home_main_welcome_message
    %h2
      = Settings.page_home_sub_welcome_message_begin
      = link_to Settings.page_home_sub_welcome_message_end, Settings.page_home_sub_welcome_message_url
    .btn.btn-large.btn-primary
      = link_to Settings.page_home_btn_sign_up_caption, Settings.page_home_btn_sign_up_url
  / = link_to image_tag('rails.png', alt: "Rails"), '#'