= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :description
  / f.association :user, label_method: :pretty_name, value_method: :id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn'


:javascript
  document.getElementById('project_title').focus();