- model_class = Project
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th N°
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:user)
      %th= t '.actions', :default => t("helpers.actions")
    %tr
  %thead
  %tbody
    - cpt = 0
    - @projects.each do |project|
      %tr
        %td= link_to "#{cpt+=1}", project_path(project)
        %td= project.title
        %td= project.description
        %td= link_to project.user.pretty_name, user_path(project.user)
        %td
          - if signed_in? && current_user.admin? && current_user?(project.user)
            = link_to edit_project_path(project), :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => t('.edit', :default => t("helpers.links.edit")) do
              <i class="fa fa-pencil fa-fw"></i>
            = link_to project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },  :'data-toggle' => 'tooltip', :'data-placement'=> 'top', :title => t('.destroy', :default => t("helpers.links.destroy")) do
              <i class="fa fa-trash-o fa-fw"></i>
    = will_paginate @projects
= link_to t('.new', :default => t("helpers.links.new")), new_project_path, :class => 'btn btn-primary'