- model_class = Project
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
.project-row
  %dl.dl-horizontal
    %dt
      %strong= model_class.human_attribute_name(:title) + ":"
    %dd= @project.title
    %dt
      %strong= model_class.human_attribute_name(:description) + ":"
    %dd= @project.description
    %dt
      %strong= model_class.human_attribute_name(:user) + ":"
    %dd= @project.user.pretty_name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), projects_path, :class => 'btn'
  - if signed_in? && current_user?(@project.user)
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
