<div class="navbar navbar-inverse navbar-fluid-top" >
  <div class="navbar-inner container-top-navbar">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= Settings.application_name %></a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path  %></li>
          <li><%= link_to "Contact", contact_path  %></li>
           <li><%= link_to "Blog", blog_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if signed_in? %>
            <li>
              <%= link_to user_projects_path(current_user) do %>
              <i class="fa fa-briefcase"></i> Projects
              <%end%>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_for(current_user, size: 30) %> <b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-item">
                <li>
                  <%= link_to current_user do %>
                  <i class="fa fa-user fa-fw"></i> Profile
                  <%end%>
                </li>
                <li>
                  <%= link_to edit_user_path(current_user)   do %>
                  <i class="fa fa-cog"></i> Settings
                  <%end%>
                </li>
                <li class="divider"></li>
                <li>
                   <%= link_to sign_out_path, :method => :delete do %>
                    <i class="fa fa-sign-out"></i> Sign out
                  <%end%>
                </li>
              </ul>
            </li>
          <%else%>
          <li>
            <%= link_to sign_in_path do %>
              <i class="fa fa-sign-in fa-fw"></i> Sign in
            <%end%>
          </li>
          <%end%>
          <li>
            <%= link_to about_path do %>
            <i class="fa fa-info-circle"></i> Help
            <%end%>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

