<div class="container-fluid">
  <small class="pull-left row-fluid">
    <div class='container'>
      <div class="before-footer-nav">
          by ismo1
      </div>
      <div class="before-footer-nav">
          by ismo1
      </div>
      <nav class="pull-right">
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><%= link_to "News", '#' %></li>
        </ul>
      </nav>
    </div><!-- end footer-main -->
  </small>
  <div class='footer-parteners'>
    <div class='container'>
      <h4>Nos partenaires</h6>
      <ul class="row-fluid ">
        <li>parternaire 1</li>
        <li>parternaire 2</li>
        <li>parternaire 3</li>
        <li>parternaire 4</li>
        <li>parternaire 6</li>
        <li>parternaire 7</li>
        <li>parternaire 8</li>
        <li>parternaire 9</li>
        <li>parternaire 10</li>
      </ul>
    </div>
  </div><!-- end footer-parteners -->
  <div class="before-copyright" >
    <div class="container ">
      <div class="span2"></div>
      <div class="span3"></div>
      <div class="span3"></div>
      <div class="span3"></div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div class='container'>
     &copy; <%= Settings.application_name%> <%= DateTime.now.year %> <%= link_to "ismo1", "mailto:mousa.ismo1@gmail.com?subject=Prise%20de%20contact!!&body=Hello ismo1," %>
    </div><!-- container -->
  </div>
</div>