<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head'%>
  <head>
  <body>
    <%= render 'layouts/body_header'%>
    <div class="container">
        <div class="main-content">
          <%= flash_messages %>
          <%= yield %>
        </div><!--/main-content-->
    </div> <!-- /container -->
    <footer>
      <%= render 'layouts/body_footer'%>
    </footer>
     <%= debug(params) if Rails.env.development? %>
  </body>
</html>